<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script>
		var stompClient;
		$(document).ready(function() {
		var socket = new SockJS('/live-temperature');
		
		stompClient = Stomp.over(socket);
		stompClient.connect({}, function(frame){
			stompClient.subscribe('/topic/temperature', function(temperature){
				response = $.parseJSON(temperature.body);
				//$('#response-data').text(temperature.body);
				$(function() {
				    $.each(response, function(i, item) {
				        var $tr = $('<tr>').append(
				            $('<td>').text(item.Ville),
				            $('<td>').text(item.Pays),
				            $('<td>').text(item.Distance),
				            $('<td>').text(item.Température),
				            $('<td>').text(item.Humidité),
				            $('<td>').text(item.Précipitation),
				            
				        ); //.appendTo('#records_table');
				        $('#tdata').append($tr);
				        
				    });
				});
			})
		});
		});
	</script>
</head>
<body>
	<h1>Result</h1>
    
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Ville</th>
        <th>Pays</th>
        <th>Distance</th>
        <th>Température</th>
        <th>Humidité</th>
        <th>Précipitation</th>
      </tr>
    </thead>
    <tbody id="tdata">
      <tr>
	<td>exemple_ville</td>
        <td>exemple_pays</td>
        <td>exemple_distance</td>
        <td>exemple_température</td>
        <td>exemple_humidité</td>
        <td>exemple_précipitation</td>
      </tr>

    </tbody>
  </table>
    <a href="/home">Make another search</a>
</body>
</html>
